<h3>Edit task</h3>

<div class="container">
  <%= form_for :task, url: project_task_path(@task), method: :patch do |f| %>

    <div class="form-group">
      <label for="name">Name of task:</label>
      <p><%= f.text_field(:title, {:class => 'form-control'}) %></p>
    </div>
    <div class="form-group">
      <label for="text">Summary:</label>
      <p><%= f.text_area(:text, {:class => 'form-control'}) %></p>
        <p><%= f.select :status, Task::STATUSES %></p>
    </div>
      <%= f.submit "Save changes", :class => 'btn btn-primary' %>
      <% end %>
</div>
