<h2>Project</h2>
<div class = "container justify-content-center">
    <div class = "row">
      <div class = "col-md-9 card">
        <div class = "card-body text-center">
        <h4 class = "card-title"> <%= @project.title %> </h4>
        <p class = "card-text"> <%= @project.text %> </p>
        </div>
      </div>
      <div class="col-md-3">
        <p class = "card-text"> Create: <%= @project.created_at.strftime('%Y %B %d')%></p>
        <p class = "card-text"> Finish: <%= @project.date %> </p>
        <%= link_to "Edit", edit_project_path(@project), :class => 'btn btn-warning' %>
        <%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger' %>

      </div>
    </div>
</div>

<%= @project.tasks.each do |task| %>
<div class = "container">
  <h3>Tasks:</h3>
    <div class = "card-columns">
      <div class = "card">
        <div class = "card-body text-center">
        <h4 class = "card-title"> <%= task.title %> </h4>
        <p class = "card-text text-right">  <%= link_to 'more details...', project_task_path(task), :class => 'card-link' %></p>
        </div>
      </div>
    </div>
</div>
<% end %>

<h4>Create task</h4>

<div class = "container">
  <%= form_for([@project, @project.tasks.build]) do |f| %>
  <div class = "row">
    <div class = "col-md-10">
      <div class = "form-group">
        <label for = "name">Name of task:</label>
        <p><%= f.text_field(:title, {:class => 'form-control'}) %></p>
      </div>
      <div class = "form-group">
        <label for="text">Summary:</label>
        <p><%= f.text_area(:text, {:class => 'form-control'}) %></p>
      </div>
    </div>
    <div class = "col-md-2" >
      <div class="container mt-3">
        <div class="flex align-content-end">
          <div class="p-2">
            <p><%= f.select :status, Task::STATUSES %></p>
          </div>
          <div class="p-2">
            <%= f.submit "Add task", :class => 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
      <% end %>
</div>
