<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-sm navbar-light bg-lignt fixed-top">

      <ul class="navbar-nav container col-8 d-flex justify-content-start">
        <li class="nav-item">
          <span class="nav-link"><%= link_to "All projects", home_path, :class => 'btn btn-dark' %></span>
        </li>
        <li class="nav-item">
          <span class="nav-link"><%= link_to "Add project", new_project_path, :class => 'btn btn-dark' %></span>
        </li>
      </ul>
      <div class="container col-4 d-flex justify-content-between">
        <% if user_signed_in? %>
        <span>Hello, <%= current_user.email %></span>
        <div><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></div>
        <div><%= link_to 'Edit profile', edit_user_registration_path %></div>
        <% else %>
        <div><%= link_to 'Sign in ', new_user_session_path %> <span> or </span> <%= link_to ' Sign up', new_user_registration_path %></div>
        <% end %>
        <p class = "notice"><%= notice %></p>
        <p class = "alert"><%= alert%></p>
      </div>
  </nav>

  <%= yield %>

  </body>
</html>
